body {
    text-align: center;
    background-color: #ececec;
    font-family: 'Helvetica', sans-serif;
    }

h2 {
    margin: 0px;
    }

.dashboard-wrapper {
    margin: auto;
    max-width: 1100px;
    display: grid;
    /*Estructura 2 a dos*/
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    }



